{% extends "base.html" %}
{% load static %}

{% block body %}
<div id="app"></div>
{% endblock %}

{% block javascript %}
<script src="{% static 'login/index.js' %}"></script>
{% autoescape off %}
<script>
    document.main({
        siteHeader: '{{ site_header }}',
        title: '{{ title }}',
        csrfToken: '{{ csrf_token }}',
        form: {
            erros: {{ form.errors.as_json }},
            username: {
                {% if form.username.value %}
                value: '{{ form.username.value }}',
                {% endif %}
                helpText: '{{ form.username.help_text }}'
            },
            password: {
                helpText: '{{ form.password.help_text }}',
            }
        },
    })
</script>
{% endautoescape %}
{% endblock %}