@import '../../styles/bootstrap.scss';

.form-header {
    background-color: black;
    height: 15px;
    color: white;
}

#app, html, body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
